
.mui-grid-view.mui-grid-9 {
	background-color: #fff !important;
	border-top: none !important;
	border-left: none !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border-right: none !important;
	border-bottom: none !important;
}

#Gallery {
	overflow: inherit !important;
}

.mui-slider-indicator {
	bottom: -20px !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	padding: 3px 15px !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn) {
	padding: 0 !important;
}

.mui-slider-indicator .mui-active.mui-indicator {
	background: #424040 !important;
}

.mui-slider-indicator .mui-indicator {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.mui-bar-nav~.mui-content .mui-pull-top-pocket {
	top: 35px !important;
}

.chat-trip.pastMessage {
	display: none;
}

.chat-trip.notMessage {
	display: none;
}