html,
body {
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	font-size: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
	position: fixed;
	transform: translate3d(0, 0, 0);
	width: 100%;
	height: 220px;
	left: 0px;
	bottom: -220px;
	overflow: hidden;
	z-index: 2;
}

footer .tabBar {
	height: 100%;
	width: 100%;
	background: #fff;
	padding: 12px;
	position: relative;
	display: none;
}

footer .tabBar4 {
	padding: 0;
	padding-top: 7px;
}

footer .tabBar .navbtn {
	height: 50px;
	position: absolute;
	bottom: -5px;
	width: 100%;
}

footer .tabBar .navbtn .mui-btn {
	border-radius: 0px;
	padding: 10px 12px;
	border: none;
	font-size: 18px;
}

footer .tabBar .navbtn .mui-btn-send {
	float: right;
	right: 3px;
	width: 158px;
	background: #6F83FF;
	color: white;
}

.mui-slider-img-content {
	display: none;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.chat-trip {
	line-height: 3.5rem;
	height: 6%;
	display: block;
	text-align: center;
	width: 94%;
	border-radius: 8px;
	font-size: 1.3rem;
	position: relative;
	top: 1rem;
	left: 3%;
	z-index: 2;
	display: block;
	color: #7d7d7d;
}

 /* 群聊带昵称 */

.chat-name {
	height: 6%;
	position: absolute;
	white-space : nowrap;
	border-radius: 8px;
	font-size: 1.3rem;
	top: -3rem;
	z-index: 2;
	display: block;
	color: #7d7d7d;
}

.bubbleItem .groupChat{
	margin-top: 4.3rem;
}

.bubbleItem .groupChat.leftBubble .topLevel{
    border-top: 10px solid white;
    border-bottom: none;
}

.bubbleItem .groupChat.rightBubble .topLevel{
    border-top: 10px solid #6F83FF;
    border-bottom: none;
}

.bubbleItem .icon.groupChat.rightBubble .topLevel{
    border-top: 10px solid white;
    border-bottom: none;
}

.bubbleItem .groupChat.rightBubble .chat-name{
	text-align: right;
	right: 3%;
}

.bubbleDiv {
	width: 100%;
	margin: 0 auto;
	/*overflow: auto;
	height: 94%;*/
	padding: 0 3%;
}

.bubbleItem {
	width: 100%;
	position: relative;
}

.leftBubble {
	position: relative;
	background-color: white;
	margin-left: 1rem;
}

.rightBubble {
	position: relative;
	margin-right: 1rem;
	float: right;
	background-color: #6F83FF;
	color: #fff;
}

.bubble {
	line-height: 30px;
	border-radius: 0.8rem;
	margin-top: 2rem;
	display: inline-block;
	padding: 0.4rem 1rem;
	font-size: 1.4rem;
	margin-left: 5rem;
	margin-right: 5rem;
	position: relative;
}


/* 文本类型  */

.bubble.img {
	line-height: 19px;
	padding-top: 9px;
}

.bubble.icon,.bubble.img {
	background-color: #fff;
}

.bubble.icon .topLevel,.bubble.img .topLevel{
	border-bottom-color: #fff;
}

.bubble.icon img {
	width: 120px;
	height: 120px;
}

.bubble.sound.rightBubble .soundLength {
	position: absolute;
	left: -20px;
	color: #B6B6B6;
	line-height: 47px;
}

.bubble.sound.leftBubble .soundLength {
	position: absolute;
	right: -31px;
	color: #B6B6B6;
	line-height: 46px;
}

.bubble.img .send-list-img {
	margin: 0px 2px 0 2px;
	height: 53px;
	width: 53px;
	border-radius: 3px;
	border: 2px white solid;
	display: inline-block;
	background-size: cover !important;
	background-position: center !important;
}

.clearfix .doctor-head {
	right: 0.1rem;
}

.leftBubble .topLevel {
	position: absolute;
	top: 1rem;
	left: -9px;
	border-bottom: 10px solid white;
	border-left: 10px solid transparent;
}

.rightBubble .topLevel {
	position: absolute;
	top: 1rem;
	right: -8px;
	border-bottom: 10px solid #6F83FF;
	border-right: 10px solid transparent;
}

.chat-time {
	color: #888;
	text-align: center;
	line-height: 3rem;
	font-size: 1.3rem;
	margin-top: 1rem;
}

.doctor-head {
	width: 3.5rem;
	box-sizing: border-box;
	position: absolute;
	height: 3.5rem;
	top: 2rem;
}

.doctor-head img {
	width: 100%;
	border-radius: 50rem;
	box-sizing: border-box;
	height: 100%;
}


/* 选择相册 */

.mui-bar-nav {
	background: white !important;
	box-shadow: none !important;
	border-bottom: 1px solid #ddd !important;
}

.mui-pull-left {
	color: #3E3E3E;
}

.mui-scroll-wrapper {
	padding-bottom: 110px;
}

.tabBar.item {
	padding: 12px 3px !important;
	/*background: #0062CC !important;*/
}

.mui-segmented-control.mui-scroll-wrapper,
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
	height: 153px !important;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
	margin: 0 3px !important;
	width: 100px !important;
	height: 153px !important;
	background-size: cover !important;
	background-position: center !important;
}


/* 录音STYLE */

#msg-sound {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 50%;
	top: 50%;
	margin: -60px 0 0 -55px;
	line-height: 110px;
	background: #6F83FF;
	color: white;
	border-radius: 50%;
	text-align: center;
}

#msg-sound .iconfont {
	color: white;
	font-size: 56px;
}

#msg-sound:active {
	background: #4b5dcd;
}

.rprogress {
	position: absolute;
	left: 50%;
	top: 40%;
	width: 140px;
	height: 140px;
	margin-left: -70px;
	margin-top: -95px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	display: none;
	-webkit-transition: .15s;
	z-index: 99;
}

.rprogress .times {
	line-height: 140px;
	text-align: center;
	color: white;
	font-size: 14px;
}

.rschedule {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 46px;
	height: 46px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.r-sigh {
	display: none;
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 46px;
	height: 46px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
	text-align: center;
	line-height: 46px;
	font-size: 40px;
	font-weight: bold;
	color: #2187e7;
}

.rprogress-sigh {
	background-image: none !important;
}

.rprogress-sigh .rschedule {
	display: none !important;
}

.rprogress-sigh .r-sigh {
	display: block !important;
}

.rsalert {
	font-size: 12px;
	color: #bbb;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	width: 130px;
	margin: 5px 5px;
	padding: 5px;
	left: 0px;
	bottom: 0px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.mui-icon-mic {
	font-size: 18px !important;
	font-weight: bold;
}

.mui-grid-view.mui-grid-9 {
	background-color: #fff !important;
	border-top: none !important;
	border-left: none !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border-right: none !important;
	border-bottom: none !important;
}

#Gallery {
	overflow: inherit !important;
}

.mui-slider-indicator {
	bottom: -20px !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	padding: 3px 15px !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn) {
	padding: 0 !important;
}

.mui-slider-indicator .mui-active.mui-indicator {
	background: #424040 !important;
}

.mui-slider-indicator .mui-indicator {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.mui-bar-nav~.mui-content .mui-pull-top-pocket {
	top: 35px !important;
}

.chat-trip.pastMessage {
	display: none;
}

.chat-trip.notMessage {
	display: none;
}