<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>im-chat</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<link href="../css/mui.imageviewer.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../fonts/iconfont.css" />
		<link rel="stylesheet" href="../fonts/new/iconfont.css" />
		<!-- 网上最强大的videoJs -->
		<link href="../libs/videoJs/video-js.min.css" rel="stylesheet">
		<script src="../libs/videoJs/video.min.js"></script>
		<link href="../css/ImViewHelper.css" rel="stylesheet">
		<link href="./in-chat.css" rel="stylesheet">
		<script src="../libs/jquery-3.3.1.min.js"></script>
	</head>

	<body contextmenu="return false;">

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">聊天界面</h1>
		</header>

		<pre id='h'></pre>

		<!-- 消息模板循环 -->
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
				<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
					<% if(item.sender=='self' ) { %>
						<img class="msg-user-img-self" src="../images/lsm.jpg" alt="" /> 
					<% } else { %>
						<img class="msg-user-img" src="../images/tly.jpg" alt="" />
					<% } %>
					<div class="msg-content">
						<div class="msg-content-inner" >
							<% if(item.type=='text' ) { %>
								<%=( item.content|| '&nbsp;&nbsp;') %>
							<% } else if(item.type=='imeduEmoji' ) { %>
								<img class="" src="<%=(item.content)%>" style="max-width: 100%;" />
							<% } else if(item.type=='image' ) { %>
								<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100%;" data-preview-src="" data-preview-group="1"  />
							<% } else if(item.type=='sound' ) { %>
								<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
								<span class="play-state">点击播放</span>
							<% } else if(item.type=='video' ) { %>
							  <video style="width: 100%;"
									id="my-player"
									class="video-js"
									controls
									preload="auto"
									poster=""		
									data-setup='{}'>
								<source src="<%=(item.content)%>" type="video/mp4"></source>
								<p class="vjs-no-js">
										To view this video please enable JavaScript, and consider upgrading to a
										web browser that
									<a href="https://videojs.com/html5-video-support/" target="_blank">
										supports HTML5 video
									</a>
								</p>
							  </video>
							<% }%>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
					<div class="mui-item-clear"></div>
				</div>
			<% } %>
		</script>

		<!-- 消息体list -->
		<div class="mui-content" id='msglistcontainers'>
			<div id='msg-list'>
			</div>
		</div>

		<!-- 脚部 -->
		<footer id='footer-container' class="footer-no-with-tooltip">
			<div class="footer-left">
				<i class="iconfont icon-jiahao1" style="font-size: 28px;" id='tooltip-tianjia'></i>
				<i class="iconfont icon-biaoqing" style="font-size: 28px;margin-left: 5px;" id='tooltip-biaoqing'></i>
			</div>
			<div class="footer-center" style="margin-left: 25px;margin-right: 5px;">
				<textarea id='msg-text' type="text" class='input-text'></textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id='msg-type' class="mui-icon mui-icon-mic"></i>
			</label>
		</footer>

		<!-- tooltip -->
		<div class="mui-bar mui-bar-tab mui-footer-nav tooltip-hide-chat" id='tooltip'>
			<div class="iconnav">
				<ul>
					<li class="tupian" date-nav="tabBar2" id='msg-image'><span class="iconfont icon-tupian2"></span></li>
					<li class="xiangji" date-nav="tabBar3" id="xiangji-img"><span class="iconfont icon-iconfontpaizhao"></span></li>
					<li class="xiangji" date-nav="tabBar4" id="xiangji-video"><span class="iconfont icon-shishishipin_luxiang"></span></li>
				</ul>
			</div>
		</div>

		<!-- icon -->
		<div class="tabBar4 tabBar tooltip-hide-icon" id='tooltip-bq'>
			<div id="Gallery" class="mui-slider">
				<div class="mui-slider-group">
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-1 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-2 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-3 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-4 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-5 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-6 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-7 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-8 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-9 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-10 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-11 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-12 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-13 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-14 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-15 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-16 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-17 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-18 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-19 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-20 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-21 iconimeduclass"></ul>
					</div>
					<div class="mui-slider-item">
						<ul class="mui-table-view mui-grid-view mui-grid-9 mui-icon-22 iconimeduclass"></ul>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
		</div>

		<!-- 录音弹框 -->
		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		<!-- 引入js文件 -->
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.imageViewer.js"></script>
		<script src="../js/arttmpl.js"></script>

		<script type="text/javascript">
			(function($, doc) {
				//=======初始化========
				var MIN_SOUND_TIME = 800; //最小800毫秒
				$.init({
					gestureConfig: {
						tap: true, //默认为true
						doubletap: true, //默认为false
						longtap: true, //默认为false
						swipe: true, //默认为true
						drag: true, //默认为true
						hold: true, //默认为false，不监听
						release: true //默认为false，不监听
					}
				});
				//js模板引擎artTemplate使用方法
				//see：http://www.bcty365.com/content-69-5278-1.html
				template.config('escape', false);

				// 解决在ios上fixed元素focusin时位置出现错误的问题 
				if (mui.os.ios) {

					document.addEventListener('DOMContentLoaded', function() {
						var footerDom = document.querySelector('footer');

						document.addEventListener('focusin', function() {
							footerDom.style.position = 'absolute';
						});
						document.addEventListener('focusout', function() {
							footerDom.style.position = 'fixed';
						});
					});
				}

				$.plusReady(function() {
					//====软键盘=====
					plus.webview.currentWebview().setStyle({
						softinputMode: "adjustResize"
					});
					var showKeyboard = function() {
						if ($.os.ios) {
							var webView = plus.webview.currentWebview().nativeInstanceObject();
							webView.plusCallMethod({
								"setKeyboardDisplayRequiresUserAction": false
							});
						} else {
							var Context = plus.android.importClass("android.content.Context");
							var InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
							var main = plus.android.runtimeMainActivity();
							var imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
							imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
							//var view = ((ViewGroup)main.findViewById(android.R.id.content)).getChildAt(0);
							imm.showSoftInput(main.getWindow().getDecorView(), InputMethodManager.SHOW_IMPLICIT);
						}
					};
					//====消息list记录====
					var record = [];
					//UI对应元素节点dom
					var ui = {
						body: doc.querySelector('body'),
						footer: doc.querySelector('footer'),
						footerRight: doc.querySelector('.footer-right'),
						footerLeft: doc.querySelector('#msg-image'),
						btnMsgType: doc.querySelector('#msg-type'),
						boxMsgText: doc.querySelector('#msg-text'),
						boxMsgSound: doc.querySelector('#msg-sound'),
						btnMsgImage: doc.querySelector('#msg-image'),
						//消息list
						areaMsgList: doc.querySelector('#msg-list'),
						//录音弹出那个
						boxSoundAlert: doc.querySelector('#sound-alert'),
						h: doc.querySelector('#h'),
						content: doc.querySelector('.mui-content')
					};
					ui.h.style.width = ui.boxMsgText.offsetWidth + 'px';

					var footerPadding = ui.footer.offsetHeight - ui.boxMsgText.offsetHeight;

					//===点击消息情况处理=====
					var msgItemTap = function(msgItem, event) {
						var msgType = msgItem.getAttribute('msg-type');
						var msgContent = msgItem.getAttribute('msg-content')
						if (msgType == 'sound') {
							player = plus.audio.createPlayer(msgContent);
							var playState = msgItem.querySelector('.play-state');
							playState.innerText = '正在播放...';
							player.play(function() {
								playState.innerText = '点击播放';
							}, function(e) {
								playState.innerText = '点击播放';
							});
						}
					};
					//图片查看-单击查看
					var imageViewer = new $.ImageViewer('.msg-content-image', {
						dbl: false
					});
					//==绑定数据消息item
					var bindMsgList = function() {
						//渲染artTemplate模板
						var artTemHtmlMessage = template('msg-template',{"record": record });
                        //每次append消息
						ui.areaMsgList.insertAdjacentHTML('beforeEnd', artTemHtmlMessage);
						// ui.areaMsgList.innerHTML = artTemHtmlMessage;

						//每一条消息添加tap点击事件
						var msgItems = ui.areaMsgList.querySelectorAll('.msg-item');
						[].forEach.call(msgItems, function(item, index) {
							item.addEventListener('tap', function(event) {
								msgItemTap(item, event);
							}, false);
						});
						imageViewer.findAllImage();
						ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
					};
					//第一次进来时候的绑定消息渲染开始
					bindMsgList();
					//随时调整高度消息list
					window.addEventListener('resize', function() {
						ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
					}, false);
					//发送消息
					var send = function(msg) {
						//重新初始化init
						record = []
						
						//push消息
						record.push(msg);
					
						//每次自动回复一条消息
						record.push({
							sender: 'zs',
							type: 'text',
							content: 'dev开发版本自动回复3条消息（来自系统演示-text-image-video）'
						},
						{
							sender: 'zs',
							type: 'image',
							content: 'https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3431574649,4281857656&fm=58&bpow=497&bpoh=640'
						},
						{
							sender: 'zs',
							type: 'video',
							content: 'http://player.pier39.cn/video/editor.mp4'
						});
						//渲染消息
						bindMsgList();
					};
					//消息输入框获取焦点
					function msgTextFocus() {
						ui.boxMsgText.focus();
						setTimeout(function() {
							ui.boxMsgText.focus();
						}, 150);
					}
					//解决长按“发送”按钮，导致键盘关闭的问题；
					ui.footerRight.addEventListener('touchstart', function(event) {
						if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
							msgTextFocus();
							event.preventDefault();
						}
					});
					//解决长按“发送”按钮，导致键盘关闭的问题；
					ui.footerRight.addEventListener('touchmove', function(event) {
						if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
							msgTextFocus();
							event.preventDefault();
						}
					});

					//====footer右边松手发送消息哦====
					ui.footerRight.addEventListener('release', function(event) {
						//press时候【发送字样】文本消息发送
						if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
							//showKeyboard();
							ui.boxMsgText.focus();
							setTimeout(function() {
								ui.boxMsgText.focus();
							}, 150);
							//event.detail.gesture.preventDefault();
							//发送当前的消息
							send({
								sender: 'self',
								type: 'text',
								content: ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '<br/>')
							});
							ui.boxMsgText.value = '';
							$.trigger(ui.boxMsgText, 'input', null);
							//press时候是语音图标,那么切换成写字图标
						} else if (ui.btnMsgType.classList.contains('mui-icon-mic')) {
							ui.btnMsgType.classList.add('mui-icon-compose');
							ui.btnMsgType.classList.remove('mui-icon-mic');
							ui.boxMsgText.style.display = 'none';
							ui.boxMsgSound.style.display = 'block';
							ui.boxMsgText.blur();
							document.body.focus();
							//press时候是写字图标,那么切换成语音图标，同时foucs光标	
						} else if (ui.btnMsgType.classList.contains('mui-icon-compose')) {
							ui.btnMsgType.classList.add('mui-icon-mic');
							ui.btnMsgType.classList.remove('mui-icon-compose');
							ui.boxMsgSound.style.display = 'none';
							ui.boxMsgText.style.display = 'block';
							//--
							//showKeyboard();
							ui.boxMsgText.focus();
							setTimeout(function() {
								ui.boxMsgText.focus();
							}, 150);
						}
					}, false);

					//图片-视频
					doc.querySelector('#msg-image').addEventListener('tap', function(event) {
						plus.gallery.pick(function(e) {
							
							for(var i in e.files){
								
								var tp = 'image'
								var ex = ''
								var path = e.files[i] || ''
								ex = path.split('.') || []
								ex = ex[ex.length - 1]
								if (ex == 'mp4' || ex == 'm3u8' || ex == '3gp' || ex == 'mov') {
									tp = 'video'
									//path = 'http://player.pier39.cn/video/editor.mp4'
								}
								if (ex == 'jpg' || ex == 'jpeg' || ex == 'png' || ex == 'bmp' || ex == 'gif') {
									tp = 'image'
								}
								send({
									sender: 'self',
									type: tp,
									content: path
								});
							}
							
						}, function(err) {}, {
							filter: "none",
							maximum:10,
							multiple:true
						});
					}, false);
					//相机-img
					doc.querySelector('#xiangji-img').addEventListener('tap', function(event) {
						var cmr = plus.camera.getCamera();
						cmr.captureImage(function(path) {
							var tp = 'image'
							var ex = ''
							path = path || ''
							ex = path.split('.') || []
							ex = ex[ex.length - 1]
							if (ex == 'mp4' || ex == 'm3u8' || ex == '3gp' || ex == 'mov') {
								tp = 'video'
							}
							if (ex == 'jpg' || ex == 'jpeg' || ex == 'png' || ex == 'bmp' || ex == 'gif') {
								tp = 'image'
							}
							send({
								sender: 'self',
								type: tp,
								content: "file://" + plus.io.convertLocalFileSystemURL(path)
							});
						}, function(err) {});
					}, false);
					//相机-vidoe
					doc.querySelector('#xiangji-video').addEventListener('tap', function(event) {
						var cmr = plus.camera.getCamera();
						var res = cmr.supportedVideoResolutions[0];
						var fmt = cmr.supportedVideoFormats[0];
						cmr.startVideoCapture(
							function(path) {
								var tp = 'image'
								var ex = ''
								path = path || ''
								ex = path.split('.') || []
								ex = ex[ex.length - 1]
								if (ex == 'mp4' || ex == 'm3u8' || ex == '3gp' || ex == 'mov') {
									tp = 'video'
								}
								if (ex == 'jpg' || ex == 'jpeg' || ex == 'png' || ex == 'bmp' || ex == 'gif') {
									tp = 'image'
								}
								send({
									sender: 'self',
									type: tp,
									content: "file://" + plus.io.convertLocalFileSystemURL(path)
								});
							},
							function(error) {
								alert("Capture video failed: " + error.message);
							}, {
								resolution: res,
								format: fmt
							}
						);
					}, false);

					//录音弹窗
					var setSoundAlertVisable = function(show) {
						if (show) {
							ui.boxSoundAlert.style.display = 'block';
							ui.boxSoundAlert.style.opacity = 1;
						} else {
							ui.boxSoundAlert.style.opacity = 0;
							//fadeOut 完成再真正隐藏
							setTimeout(function() {
								ui.boxSoundAlert.style.display = 'none';
							}, 200);
						}
					};
					var recordCancel = false;
					var recorder = null;
					var audio_tips = document.getElementById("audio_tips");
					var startTimestamp = null;
					var stopTimestamp = null;
					var stopTimer = null;
					//按住录音开始
					ui.boxMsgSound.addEventListener('hold', function(event) {
						recordCancel = false;
						if (stopTimer) clearTimeout(stopTimer);
						audio_tips.innerHTML = "手指上划，取消发送";
						ui.boxSoundAlert.classList.remove('rprogress-sigh');
						setSoundAlertVisable(true);
						recorder = plus.audio.getRecorder();
						if (recorder == null) {
							plus.nativeUI.toast("不能获取录音对象");
							return;
						}
						startTimestamp = (new Date()).getTime();
						recorder.record({
							filename: "_doc/audio/"
						}, function(path) {
							if (recordCancel) return;
							send({
								sender: 'self',
								type: 'sound',
								content: path
							});
						}, function(e) {
							plus.nativeUI.toast("录音时出现异常: " + e.message);
						});
					}, false);
					//松开手指发送,上滑动取消发送
					ui.body.addEventListener('drag', function(event) {
						if (Math.abs(event.detail.deltaY) > 50) {
							if (!recordCancel) {
								recordCancel = true;
								if (!audio_tips.classList.contains("cancel")) {
									audio_tips.classList.add("cancel");
								}
								audio_tips.innerHTML = "松开手指，取消发送";
							}
						} else {
							if (recordCancel) {
								recordCancel = false;
								if (audio_tips.classList.contains("cancel")) {
									audio_tips.classList.remove("cancel");
								}
								audio_tips.innerHTML = "手指上划，取消发送";
							}
						}
					}, false);
					//松手发送
					ui.boxMsgSound.addEventListener('release', function(event) {
						if (audio_tips.classList.contains("cancel")) {
							audio_tips.classList.remove("cancel");
							audio_tips.innerHTML = "手指上划，取消发送";
						}
						//
						stopTimestamp = (new Date()).getTime();
						if (stopTimestamp - startTimestamp < MIN_SOUND_TIME) {
							audio_tips.innerHTML = "录音时间太短";
							ui.boxSoundAlert.classList.add('rprogress-sigh');
							recordCancel = true;
							stopTimer = setTimeout(function() {
								setSoundAlertVisable(false);
							}, 800);
						} else {
							setSoundAlertVisable(false);
						}
						recorder.stop();
					}, false);
					ui.boxMsgSound.addEventListener("touchstart", function(e) {
						e.preventDefault();
					});
					//输入文字时候过滤
					ui.boxMsgText.addEventListener('input', function(event) {
						ui.btnMsgType.classList[ui.boxMsgText.value == '' ? 'remove' : 'add']('mui-icon-paperplane');
						ui.btnMsgType.setAttribute("for", ui.boxMsgText.value == '' ? '' : 'msg-text');
						ui.h.innerText = ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '\n-') || '-';
						ui.footer.style.height = (ui.h.offsetHeight + footerPadding) + 'px';
						ui.content.style.paddingBottom = ui.footer.style.height;
					});
					var focus = false;
					//输入文字时候焦点
					ui.boxMsgText.addEventListener('tap', function(event) {
						ui.boxMsgText.focus();
						setTimeout(function() {
							ui.boxMsgText.focus();
						}, 0);
						focus = true;
						setTimeout(function() {
							focus = false;
						}, 1000);
						event.detail.gesture.preventDefault();
					}, false);
					//点击消息列表，关闭键盘
					ui.areaMsgList.addEventListener('click', function(event) {
						if (!focus) {
							ui.boxMsgText.blur();
						}
					})


					//tooltip-show
					doc.querySelector('#tooltip-tianjia').addEventListener('tap', function(event) {
						//打开tooltip
						doc.querySelector('#tooltip').classList.add('tooltip-show-chat');
						doc.querySelector('#tooltip').classList.remove('tooltip-hide-chat');
						doc.querySelector('#tooltip-bq').classList.add('tooltip-hide-icon');
						doc.querySelector('#tooltip-bq').classList.remove('tooltip-show-icon');
						//打开footer-.footer-no-with-tooltip
						doc.querySelector('#footer-container').classList.add('footer-with-tooltip');
						doc.querySelector('#footer-container').classList.remove('footer-no-with-tooltip');
						doc.querySelector('#footer-container').classList.remove('footer-with-tooltip-biaoqing');
					}, false);

					//tooltip-biaoqing
					doc.querySelector('#tooltip-biaoqing').addEventListener('tap', function(event) {
						//打开tooltip
						doc.querySelector('#tooltip').classList.add('tooltip-hide-chat');
						doc.querySelector('#tooltip').classList.remove('tooltip-show-chat');
						doc.querySelector('#tooltip-bq').classList.add('tooltip-show-icon');
						doc.querySelector('#tooltip-bq').classList.remove('tooltip-hide-icon');
						//打开footer-.footer-no-with-tooltip
						doc.querySelector('#footer-container').classList.remove('footer-with-tooltip');
						doc.querySelector('#footer-container').classList.remove('footer-no-with-tooltip');
						doc.querySelector('#footer-container').classList.add('footer-with-tooltip-biaoqing');
					}, false);

					//tooltip-hide
					ui.content.addEventListener('tap', function(event) {
						//关闭tooltip
						doc.querySelector('#tooltip').classList.add('tooltip-hide-chat');
						doc.querySelector('#tooltip').classList.remove('tooltip-show-chat');
						doc.querySelector('#tooltip-bq').classList.add('tooltip-hide-icon');
						doc.querySelector('#tooltip-bq').classList.remove('tooltip-show-icon');
						//关闭footer-.footer-no-with-tooltip
						doc.querySelector('#footer-container').classList.add('footer-no-with-tooltip');
						doc.querySelector('#footer-container').classList.remove('footer-with-tooltip');
						doc.querySelector('#footer-container').classList.remove('footer-with-tooltip-biaoqing');
						// mui-content<=>mui-content-normal
						doc.querySelector('#msglistcontainers').classList.remove('mui-content');
						doc.querySelector('#msglistcontainers').classList.add('mui-content-normal');
					}, false);


					//============表情=========
					var icons = ['委屈',
						'我去',
						'无语',
						'献花',
						'滚啊...',
						'我瞧瞧',
						'呵呵',
						'难过',
						'我在',
						'逍遥',
						'知道啦',
						'啊...',
						'看我表情',
						'围观',
						'意会',
						'挑逗', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji',
						'emoji', 'emoji', 'emoji', 'emoji', 'emoji', 'emoji'
					];
					icons.forEach(function(item, index) {
						//onclick="selectIcon(this)"
						var itemHtml = '<li class="mui-table-view-cell mui-media mui-col-xs-3 " id="' + index +
							'" ><a href="#">' + iconImgSelect(item,
								index) + iconTextSelect(item) + '</a></li>';

						if (index >= 0 && index < 8) {
							jQuery('.mui-icon-1').append(itemHtml);
						}
						if (index >= 8 && index < 16) {
							jQuery('.mui-icon-2').append(itemHtml);
						}
						if (index >= 16 && index < 24) {
							jQuery('.mui-icon-3').append(itemHtml);
						}
						if (index >= 24 && index < 32) {
							jQuery('.mui-icon-4').append(itemHtml);
						}
						if (index >= 32 && index < 40) {
							jQuery('.mui-icon-5').append(itemHtml);
						}
						if (index >= 40 && index < 48) {
							jQuery('.mui-icon-6').append(itemHtml);
						}
						if (index >= 48 && index < 56) {
							jQuery('.mui-icon-7').append(itemHtml);
						}
						if (index >= 56 && index < 64) {
							jQuery('.mui-icon-8').append(itemHtml);
						}
						if (index >= 64 && index < 72) {
							jQuery('.mui-icon-9').append(itemHtml);
						}
						if (index >= 72 && index < 80) {
							jQuery('.mui-icon-10').append(itemHtml);
						}
						if (index >= 80 && index < 88) {
							jQuery('.mui-icon-11').append(itemHtml);
						}
						if (index >= 88 && index < 96) {
							jQuery('.mui-icon-12').append(itemHtml);
						}
						if (index >= 96 && index < 104) {
							jQuery('.mui-icon-13').append(itemHtml);
						}
						if (index >= 104 && index < 112) {
							jQuery('.mui-icon-14').append(itemHtml);
						}
						if (index >= 112 && index < 120) {
							jQuery('.mui-icon-15').append(itemHtml);
						}
						if (index >= 120 && index < 128) {
							jQuery('.mui-icon-16').append(itemHtml);
						}
						if (index >= 128 && index < 136) {
							jQuery('.mui-icon-17').append(itemHtml);
						}
						if (index >= 136 && index < 144) {
							jQuery('.mui-icon-18').append(itemHtml);
						}
						if (index >= 144 && index < 152) {
							jQuery('.mui-icon-19').append(itemHtml);
						}
						if (index >= 160 && index < 168) {
							jQuery('.mui-icon-20').append(itemHtml);
						}
						if (index >= 168 && index < 176) {
							jQuery('.mui-icon-21').append(itemHtml);
						}
						if (index >= 176 && index < 184) {
							jQuery('.mui-icon-22').append(itemHtml);
						}

					});

					function iconImgSelect(icontitle, index) {
						switch (icontitle) {
							case '委屈':
								return '<img src="../images/4926/0.gif" />';
							case '我去':
								return '<img src="../images/4926/1.gif" />';
							case '无语':
								return '<img src="../images/4926/2.gif" />';
							case '献花':
								return '<img src="../images/4926/3.gif" />';
							case '滚啊...':
								return '<img src="../images/4926/4.gif" />';
							case '我瞧瞧':
								return '<img src="../images/4926/5.gif" />';
							case '呵呵':
								return '<img src="../images/4926/6.gif" />';
							case '难过':
								return '<img src="../images/4926/7.gif" />';
							case '我在':
								return '<img src="../images/4926/8.gif" />';
							case '逍遥':
								return '<img src="../images/4926/9.gif" />';
							case '知道啦':
								return '<img src="../images/4926/10.gif" />';
							case '啊...':
								return '<img src="../images/4926/11.gif" />';
							case '看我表情':
								return '<img src="../images/4926/12.gif" />';
							case '围观':
								return '<img src="../images/4926/13.gif" />';
							case '意会':
								return '<img src="../images/4926/14.gif" />';
							case '挑逗':
								return '<img src="../images/4926/15.gif" />';
							case 'emoji':
								return '<img src="../images/4926/emoji_' + (index - 16) + '.png" />';
						}

					}

					function iconTextSelect(icontitle) {
						return '<div class="mui-media-body">' + icontitle + '</div>';
					}
					//添加事件icon表情
					mui("ul.iconimeduclass").on("tap", "li", function() {
						var id = $(this)[0].id;
						if (id >= 0 && id < 16) {
							id = '../images/4926/' + id + '.gif'
						} else {
							id = '../images/4926/emoji_' + (id - 16) + '.png'
						}
						//__IMEDUICON__+id发送的是文本,到终端解析成表情icon
						//[__IMEDUICON__0] =>0.gif
						//[__IMEDUICON__16] =>emoji0.png
						send({
							sender: 'self',
							type: 'imeduEmoji',
							content: '' + id
						});
					})

				});
			}(mui, document));
		</script>
	</body>

</html>
